<h2>Blog</h2>

<form method="POST" action="/blog">
  <input name="title" placeholder="Title"><br>
  <textarea name="content"></textarea><br>
  <button>Create Post</button>
</form>

<ul>
  <% posts.forEach(p => { %>
    <li>
      <a href="/blog/<%= p.id %>"><%= p.title %></a>
    </li>
  <% }) %>
</ul>